<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.org.ultralntinct.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/secured/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietSanPhamController</display-name>
    <servlet-name>ChiTietSanPhamController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.ChiTietSanPhamController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietSanPhamController</servlet-name>
    <url-pattern>/ChiTietSanPhamController</url-pattern>
  </servlet-mapping>
  <display-name>PS37328_NguyenThiMinhNgoc_ASM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BaoCaoHoaDonController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.BaoCaoHoaDonController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KhachHangController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.KhachHangController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BaoCaoKhachHangController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.BaoCaoKhachHangController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DieuKhoanVaBaoMatController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.DieuKhoanVaBaoMatController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThongBaoController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.ThongBaoController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KhoHangController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.KhoHangController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.AuthController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BaoCaoDoanhThuController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.BaoCaoDoanhThuController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NhanVienController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.NhanVienController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThayDoiMatKhauController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.ThayDoiMatKhauController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThongTinTaiKhoan</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.ThongTinTaiKhoan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SanPhamController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.SanPhamController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.HomeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HoaDonController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.HoaDonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaoCaoHoaDonController</servlet-name>
    <url-pattern>/bao-cao-hoa-don</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KhachHangController</servlet-name>
    <url-pattern>/khach-hang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaoCaoKhachHangController</servlet-name>
    <url-pattern>/bao-cao-khach-hang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DieuKhoanVaBaoMatController</servlet-name>
    <url-pattern>/dieu-khoan-va-bao-mat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThongBaoController</servlet-name>
    <url-pattern>/thong-bao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KhoHangController</servlet-name>
    <url-pattern>/kho-hang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthController</servlet-name>
    <url-pattern>/dang-nhap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaoCaoDoanhThuController</servlet-name>
    <url-pattern>/bao-cao-doanh-thu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NhanVienController</servlet-name>
    <url-pattern>/nhan-vien</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThayDoiMatKhauController</servlet-name>
    <url-pattern>/thay-doi-mat-khau</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThongTinTaiKhoan</servlet-name>
    <url-pattern>/thong-tin-tai-khoan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SanPhamController</servlet-name>
    <url-pattern>/san-pham</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HoaDonController</servlet-name>
    <url-pattern>/hoa-don</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietSPController</display-name>
    <servlet-name>ChiTietSPController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.ChiTietSanPhamController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietSPController</servlet-name>
    <url-pattern>/ChiTietSPController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietKhoHangController</display-name>
    <servlet-name>ChiTietKhoHangController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.ChiTietKhoHangController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietKhoHangController</servlet-name>
    <url-pattern>/ChiTietKhoHangController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietNhanVienController</display-name>
    <servlet-name>ChiTietNhanVienController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.ChiTietNhanVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietNhanVienController</servlet-name>
    <url-pattern>/ChiTietNhanVienController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietKhachHangController</display-name>
    <servlet-name>ChiTietKhachHangController</servlet-name>
    <servlet-class>com.org.ultralntinct.controller.ChiTietKhachHangController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietKhachHangController</servlet-name>
    <url-pattern>/ChiTietKhachHangController</url-pattern>
  </servlet-mapping>
</web-app>